################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net8.0
/obj
/Tests/obj
/Tests/bin/Debug/net8.0
/bin/Debug/net8.0-windows
/Tests/bin/Debug/net8.0-windows
